# Blurb Genre Collection

## Data Parsing and Extraction

In [1]:
#necessary imports
import pandas as pd
from xml.etree import ElementTree

In [3]:
#Making dataset list to feed it into pandas read csv function
dataset=[]

In [4]:
#Parsing training file
tree = ElementTree.parse('/content/train.xml')
root = tree.getroot()

for book in root.findall('book'):
    i=0
    for metadata in book.find('metadata'):
        if(i==0):
            x=metadata
        if(i==1):
            author=metadata.text
        if(i==2):
            published=metadata.text
        if(i==3):
            pagenum=metadata.text
        if(i==4):
            break
        i+=1
        
    
    
    s=''    
    if(x.find('d1')!=None):
        s=x.find('d1').text
    else:
        s=x.find('d0').text
            
    
    dataset.append([book.find('title').text,s,book.find('body').text,author,published,pagenum])

In [5]:
#Parsing testing file
tree = ElementTree.parse('/content/test.xml')
root = tree.getroot()
for book in root.findall('book'):
    i=0
    for metadata in book.find('metadata'):
        if(i==0):
            x=metadata
        if(i==1):
            author=metadata.text
        if(i==2):
            published=metadata.text
        if(i==3):
            pagenum=metadata.text
        if(i==4):
            break
        i+=1
        
    
    
    s=''    
    if(x.find('d1')!=None):
        s=x.find('d1').text
    else:
        s=x.find('d0').text
            
    
    dataset.append([book.find('title').text,s,book.find('body').text,author,published,pagenum])

In [6]:
df=pd.DataFrame(dataset,columns=['Name','Genres','Summary',
                                 'Author','Published','PageNum'])

In [7]:
df

,Name,Genres,Summary,Author,Published,PageNum
0,The New York Times Daily Crossword Puzzles: Th...,Games,Monday’s Crosswords Do with EaseTuesday’s Cros...,New York Times,"Dec 28, 1996",224 Pages
1,Creatures of the Night (Second Edition),Graphic Novels and Manga,Two of literary comics modern masters present ...,Neil Gaiman,"Nov 29, 2016",48 Pages
2,Cornelia and the Audacious Escapades of the So...,Children’s Middle Grade Books,Eleven-year-old Cornelia is the daughter of tw...,Lesley M. M. Blume,"Jan 08, 2008",272 Pages
3,The Alchemist's Daughter,Historical Fiction,"During the English Age of Reason, a woman cloi...",Katharine McMahon,"Oct 24, 2006",352 Pages
4,Dangerous Boy,Teen and Young Adult Mystery and Suspense,A modern-day retelling of The Strange Case of ...,Mandy Hubbard,"Aug 30, 2012",272 Pages
...,...,...,...,...,...,...
77104,Cathedral of the Sea,Romance,An unforgettable fresco of a golden age in fou...,Ildefonso Falcones,"Apr 07, 2009",624 Pages
77105,Understanding the Messages of Your Body,Health and Fitness,"Fears, anxieties, traumas, and physical and em...","Jean-Pierre Barral, D.O.","Nov 13, 2007",256 Pages
77106,Knockout,Health and Fitness,"In Knockout, Suzanne Somers interviews doctors...",Suzanne Somers,"Oct 05, 2010",368 Pages
77107,The End of the Suburbs,Politics,“The government in the past created one Americ...,Leigh Gallagher,"Jun 24, 2014",272 Pages
77108,First Aid Fast for Babies and Children,Parenting,An indispensable guide for all parents and car...,DK,"Jun 20, 2017",128 Pages

In [8]:
df.Genres.value_counts()

Children’s Books                             9555
Children’s Middle Grade Books                6416
Literary Fiction                             6101
Mystery and Suspense                         6028
Romance                                      5140
Biography and Memoir                         4390
Religion and Philosophy                      4245
Graphic Novels and Manga                     3694
Cooking                                      2468
Politics                                     2146
Arts and Entertainment                       1927
Fantasy                                      1647
Teen and Young Adult Fiction                 1506
Self-Improvement                             1488
Health and Fitness                           1485
History                                      1337
Popular Science                              1302
Science Fiction                              1272
Crafts, Home and Garden                      1128
Reference                                    1072
Parenting                                    1072
Western Fiction                              1034
Psychology                                   1008
Nonfiction                                    836
Fiction                                       798
Travel                                        635
Women’s Fiction                               594
Teen and Young Adult Fantasy Fiction          585
Business                                      578
Literary Criticism                            528
Step Into Reading                             521
Teen and Young Adult Mystery and Suspense     444
Poetry                                        431
Literary Collections                          423
Historical Fiction                            388
Humor                                         374
Nonfiction Classics                           370
Sports                                        341
Fiction Classics                              302
Games                                         239
Teen and Young Adult Historical Fiction       234
Teen and Young Adult Nonfiction               231
Military Fiction                              158
Classics                                      150
Paranormal Fiction                            141
Pets                                          124
Gothic and Horror                              90
Spiritual Fiction                              85
Teen and Young Adult Action and Adventure      48
Name: Genres, dtype: int64

In [9]:
import nltk
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
import re
import sys
import warnings
data = df
if not sys.warnoptions:
    warnings.simplefilter("ignore")
def cleanHtml(sentence):
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, ' ', str(sentence))
    return cleantext
data['Summary'] = data['Summary'].str.lower()
data['Summary'] = data['Summary'].apply(cleanHtml)

In [10]:
df.loc[df['Summary'].str.contains("<", case=False)]
# output is empty dataframe. Hence, Summary is clean of HTML content.

Empty DataFrame
Columns: [Name, Genres, Summary, Author, Published, PageNum]
Index: []

In [11]:
df["Summary"]

0        monday’s crosswords do with easetuesday’s cros...
1        two of literary comics modern masters present ...
2        eleven-year-old cornelia is the daughter of tw...
3        during the english age of reason, a woman cloi...
4        a modern-day retelling of the strange case of ...
                               ...
77104    an unforgettable fresco of a golden age in fou...
77105    fears, anxieties, traumas, and physical and em...
77106    in knockout, suzanne somers interviews doctors...
77107    “the government in the past created one americ...
77108    an indispensable guide for all parents and car...
Name: Summary, Length: 77109, dtype: object

In [12]:
def cleanPunc(sentence): #function to clean the word of any punctuation or special characters
    cleaned = re.sub(r'[?|!|\'|"|#]',r'',sentence)
    cleaned = re.sub(r'[.|,|)|(|\|/]',r' ',cleaned)
    cleaned = cleaned.strip()
    cleaned = cleaned.replace("\n"," ")
    return cleaned

In [13]:
data['Summary'] = data['Summary'].apply(cleanPunc)

In [14]:
df.loc[df['Summary'].str.contains(",", case=False)]
# output is empty dataframe. Hence, Summary is clean of punctuations.

Empty DataFrame
Columns: [Name, Genres, Summary, Author, Published, PageNum]
Index: []

In [15]:
df["Summary"]

0        monday’s crosswords do with easetuesday’s cros...
1        two of literary comics modern masters present ...
2        eleven-year-old cornelia is the daughter of tw...
3        during the english age of reason  a woman cloi...
4        a modern-day retelling of the strange case of ...
                               ...
77104    an unforgettable fresco of a golden age in fou...
77105    fears  anxieties  traumas  and physical and em...
77106    in knockout  suzanne somers interviews doctors...
77107    “the government in the past created one americ...
77108    an indispensable guide for all parents and car...
Name: Summary, Length: 77109, dtype: object

In [16]:
def keepAlpha(sentence):
    alpha_sent = ""
    for word in sentence.split():
        alpha_word = re.sub('[^a-z A-Z]+', ' ', word)
        alpha_sent += alpha_word
        alpha_sent += " "
    alpha_sent = alpha_sent.strip()
    return alpha_sent

In [17]:
data['Summary'] = data['Summary'].apply(keepAlpha)

In [18]:
df.loc[df['Summary'].str.contains("_", case=False)]
# output is empty dataframe. Hence, Summary is clean of any special characters such as [, \, ], ^, _, ` and -.
# Hence, summary will only contains alphabetical letters.

Empty DataFrame
Columns: [Name, Genres, Summary, Author, Published, PageNum]
Index: []

In [19]:
df["Summary"]

0        monday s crosswords do with easetuesday s cros...
1        two of literary comics modern masters present ...
2        eleven year old cornelia is the daughter of tw...
3        during the english age of reason a woman clois...
4        a modern day retelling of the strange case of ...
                               ...
77104    an unforgettable fresco of a golden age in fou...
77105    fears anxieties traumas and physical and emoti...
77106    in knockout suzanne somers interviews doctors ...
77107    the government in the past created one america...
77108    an indispensable guide for all parents and car...
Name: Summary, Length: 77109, dtype: object

In [22]:
import nltk
nltk.data.path.append('../Datasets')
#nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
stop_words.update(['zero','one','two','three','four','five','six','seven','eight','nine','ten','may','also','across','among','beside','however','yet','within'])
re_stop_words = re.compile(r"\b(" + "|".join(stop_words) + ")\\W", re.I)
def removeStopWords(sentence):
    global re_stop_words
    return re_stop_words.sub(" ", sentence)

In [23]:
data['Summary'] = data['Summary'].apply(removeStopWords)

In [24]:
df["Summary"]
# hence stopwords are removed.

0        monday  crosswords   easetuesday  crosswords  ...
1          literary comics modern masters present  pair...
2        eleven year old cornelia   daughter   world fa...
3          english age  reason  woman cloistered since ...
4         modern day retelling   strange case  dr jekyl...
                               ...
77104     unforgettable fresco   golden age  fourteenth...
77105    fears anxieties traumas  physical  emotional s...
77106     knockout suzanne somers interviews doctors   ...
77107     government   past created  american dream   e...
77108     indispensable guide   parents  caretakers  co...
Name: Summary, Length: 77109, dtype: object

In [25]:
stemmer = SnowballStemmer("english")
def stemming(sentence):
    stemSentence = ""
    for word in sentence.split():
        stem = stemmer.stem(word)
        stemSentence += stem
        stemSentence += " "
    stemSentence = stemSentence.strip()
    return stemSentence

In [26]:
data['Summary'] = data['Summary'].apply(stemming)

In [27]:
df['Summary']
# hence stemming is applied.

0        monday crossword easetuesday crossword breezew...
1        literari comic modern master present pair magi...
2        eleven year old cornelia daughter world famous...
3        english age reason woman cloister sinc birth l...
4        modern day retel strang case dr jekyl mr hyde ...
                               ...
77104    unforgett fresco golden age fourteenth centuri...
77105    fear anxieti trauma physic emot shock imprint ...
77106    knockout suzann somer interview doctor success...
77107    govern past creat american dream expens almost...
77108    indispens guid parent caretak cover wide rang ...
Name: Summary, Length: 77109, dtype: object

In [28]:
df1=pd.DataFrame(dataset,columns=['Name','Genres','Summary','Author','Published','PageNum'])

In [29]:
df1['Summary']=data["Summary"]

In [30]:
Y= df1.drop(labels = ['Name','Summary','Author','Published','PageNum'], axis=1)
X= df1.drop(labels = ['Genres'], axis=1)

In [31]:
# Converting to dictionary
t=[]
for i in range(len(X)):
    d={}
    d['Name']=X.Name[i]
    d['Summary']=X.Summary[i]
    d['Author']=X.Author[i]
    #d['Published']=X.Published[i]
    #d['PageNum']=X.PageNum[i]
    q=(d,Y.Genres[i])
    t.append(q)

In [32]:
n=int(len(X)/3)
test_set_feat = t[n:]
train_set_feat= t[:(2*n)]

## Exploring Naive Bayes Classifier

In [36]:
nb = nltk.NaiveBayesClassifier.train(train_set_feat)

In [37]:
print(nltk.classify.accuracy(nb, test_set_feat))
print(type(test_set_feat[0]))

0.718379177527915
<class 'tuple'>

In [38]:
d={}
d['Summary']="In 1941, the first Neumann family member was taken by the Nazis, arrested in German-occupied Czechoslovakia for bathing in a stretch of river forbidden to Jews. He was transported to Auschwitz. Eighteen days later his prisoner number was entered into the morgue book.\
Of thirty-four Neumann family members, twenty-five were murdered by the Nazis. One of the survivors was Hans Neumann, who, to escape the German death net, traveled to Berlin and hid in plain sight under the Gestapo’s eyes. What Hans experienced was so unspeakable that, when he built an industrial empire in Venezuela, he couldn’t bring himself to talk about it. All his daughter Ariana knew was that something terrible had happened.\
When Hans died, he left Ariana a small box filled with letters, diary entries, and other memorabilia. Ten years later Ariana finally summoned the courage to have the letters translated, and she began reading. What she discovered launched her on a worldwide search that would deliver indelible portraits of a family loving, finding meaning, and trying to survive amid the worst that can be imagined.\
When Time Stopped is a detective story and an epic family memoir, spanning nearly ninety years and crossing oceans. Neumann brings each relative to vivid life. In uncovering her father’s story after all these years, she discovers nuance and depth to her own history and liberates poignant and thought-provoking truths about the threads of humanity that connect us all."
d['Name']="When Time Stopped"
d['Author']="Ariana Neumann"

print(nb.classify(d))

Children’s Books

## Exploring Decision Tree Classifier

In [42]:
decisiontree_classifier = nltk.classify.DecisionTreeClassifier.train(train_set_feat, entropy_cutoff=0, support_cutoff=0)

In [43]:
print(nltk.classify.accuracy(decisiontree_classifier, test_set_feat))
print(type(test_set_feat[0]))

0.5273897988561647
<class 'tuple'>

In [44]:
d={}
d['Summary']="In 1941, the first Neumann family member was taken by the Nazis, arrested in German-occupied Czechoslovakia for bathing in a stretch of river forbidden to Jews. He was transported to Auschwitz. Eighteen days later his prisoner number was entered into the morgue book.\
Of thirty-four Neumann family members, twenty-five were murdered by the Nazis. One of the survivors was Hans Neumann, who, to escape the German death net, traveled to Berlin and hid in plain sight under the Gestapo’s eyes. What Hans experienced was so unspeakable that, when he built an industrial empire in Venezuela, he couldn’t bring himself to talk about it. All his daughter Ariana knew was that something terrible had happened.\
When Hans died, he left Ariana a small box filled with letters, diary entries, and other memorabilia. Ten years later Ariana finally summoned the courage to have the letters translated, and she began reading. What she discovered launched her on a worldwide search that would deliver indelible portraits of a family loving, finding meaning, and trying to survive amid the worst that can be imagined.\
When Time Stopped is a detective story and an epic family memoir, spanning nearly ninety years and crossing oceans. Neumann brings each relative to vivid life. In uncovering her father’s story after all these years, she discovers nuance and depth to her own history and liberates poignant and thought-provoking truths about the threads of humanity that connect us all."
d['Name']="When Time Stopped"
d['Author']="Ariana Neumann"

print(decisiontree_classifier.classify(d))

Graphic Novels and Manga